<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <center>
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">РемБытМастер126</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>

            <%= form_for :order, url: orders_path do |f| %>
              <h6>Выберите услугу</h6>
              <%= f.select :service_id, Service.all.map { |s| [s.name_title, s.id] }, {}, { class:"form-control", style:"max-width: 400px;" } %>
              <br>
              <% unless user_signed_in? %>
                <h6>Как к Вам обращаться?</h6>
                <%= f.text_field :name, class:"form-control", style:"max-width: 400px;" %>
              <% end %>
              <br>
              <h6>Опишите вашу проблему в технике</h6>
                <%= f.text_area :desc, class:"form-control", style:"max-width: 400px;", rows:"8" %>
              <br>
                <%= f.label "Фото с техники" %>
                <%= f.file_field :images, multiple: true, class:"btn" %>
              <br>
              <% unless user_signed_in? %>
                <h6>Номер телефона для связи с Вами.</h6>
                <%= f.text_field :phone, class:"form-control", style:"max-width: 400px;", value:"+7" %>
              <% end %>
              <br>
              <%= f.submit 'Записаться', class:"btn btn-success" %>
            <% end %>

        </div>
      </div>
    </div>
  </center>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите месенджер</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @organization.phones.last.telegramm.present? and Picture.last.icon_telegram %>
          <a href="https://t.me/<%= @organization.phones.last.telegramm %>" class="btn btn-outline-light btn-lg">
            <%= image_tag(Picture.last.icon_telegram, style:"width: 4rem;") %>
          </a>
        <% end %>
        <% if @organization.phones.last.max.present? and Picture.last.icon_max %>
          <a href="https://max.ru/<%= @organization.phones.last.max %>" class="btn btn-outline-light btn-lg">
            <img src="<%= Picture.last.icon_telegram %>" alt="MAX мессенджер" style="width: 4rem;">
          </a>
        <% end %>
        <% if @organization.phones.last.vk.present? and Picture.last.icon_vk %>
          <a href="https://vk.ru/id536074327" class="btn btn-outline-light btn-lg">
            <img src="/images/VK.png" alt="VK" style="width: 4rem;">
          </a>
        <% end %>
        <% if @organization.phones.last.whatsapp.present? and Picture.last.icon_whatsapp %>
          <a href="https://vk.ru/id536074327" class="btn btn-outline-light btn-lg">
            <%= image_tag(Picture.last.icon_whatsapp, style:"width: 4rem;") %>
          </a>
        <% end %>
        <% if @organization.phones.last.imo.present? and Picture.last.icon_imo %>
          <a href="https://vk.ru/id536074327" class="btn btn-outline-light btn-lg">
            <%= image_tag(Picture.last.icon_imo, style:"width: 4rem;") %>
          </a>
        <% end %>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
