<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Сервисный центр</title>

  <!-- Bootstrap CSS -->


  <style>
    .parallax {
      /* Фоновая картинка */
      background-image:
      url(<%= rails_blob_url(@parallax) %>);

      /* Высота блока */
      height: 100vh;

      /* Эффект параллакса */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      /* Центрирование текста */

    }

    body {
      padding-top: 80px;

    }

    .hero {
      background-image:
      linear-gradient(
          to right,
          rgba(128, 128, 128, 0) 0%,
          rgba(128, 128, 128, 0.5) 20%,
          rgba(128, 128, 128, 0.8) 50%,
          rgba(128, 128, 128, 0.5) 80%,
          rgba(128, 128, 128, 0) 100%
          ),
        url(<%= rails_blob_url(@heroimage) %>);
      color: white;
      padding: 100px 20px;
      text-align: center;
    }

    .hero h1 {
      font-weight: 700;
    }

    .section {

    }

    .card:hover {
      transform: translateY(-5px);
      transition: 0.3s;

      .map-wrapper {
    grid-column: 1 / -1; /* Растянуть на всю ширину, если нужно */
    width: 100%;
    height: 400px; /* Высота ОБЯЗАТЕЛЬНА */
    overflow: hidden;
  }

  iframe {
    display: block; /* Убирает лишний зазор снизу */
    width: 100%;
    height: 100%;
  }

    }
  </style>
</head>
<body>

<!-- NAVBAR -->
<%= render 'include/navbar' %>


<!-- HERO -->
<section class="hero text-black" style="background-repeat: no-repeat; background-size: cover;  background-position: center;">
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
    <h1 class="display-5 mb-3">Ремонт бытовой техники</h1>
    <h1 class="lead mb-4"><b>Выезд мастера в день обращения. Гарантия до 12 месяцев.</b></h1>
    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3">
      <button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Оставить заявку
      </button>
      <button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Консультация
      </button>
    </div>

</section>


<!-- Button trigger modal -->
<%= render "modals" %>



<!-- SERVICES -->
<section id="services" class="section">

  <div class="container-fluid text-center parallax" style="background-image: url(<%= rails_blob_url(@parallax) %>);">
    <center>
      <div class="row g-4">
        <center>
          <div class="col-md-6 col-lg-3">
            <div class="card p-4 shadow-sm h-100" style="background-color: rgba(0, 0, 0, 0.9);">

              <h2><%= link_to 'Наши услуги', services_path, class:"nav-link text-white"%></h2>
            </div>
          </div>
        </center>
      </div>
      <br><br>
    </center>
    <div class="container">
      <div class="row g-4">
        <% @services.each do |service| %>
          <div class="col-md-6 col-lg-3">
            <div class="card p-4 shadow-lg h-100 text-white" style="background-color: rgba(0, 0, 0, 0.9);">
              <h4><%= link_to service.title, service_path(service), class:"nav-link text-white"%></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- ADVANTAGES -->

<section id="abouts" class="section bg-light">
  <div class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <br><br>
    <h2>О нас</h2>
    <%= simple_format @organization.about, style:"font-size: 15px;" %>
    <h4 class="mb-5">Почему выбирают нас</h4>
    <div class="row g-4">
      <% @entries.each do |enter| %>
        <div class="col-md-6 col-lg-3">
          <div class="card p-4 shadow-sm h-100">
            <%= enter.title %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<!-- CONTACTS -->
<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div map-responsive">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f0290fe81bea1501ab1148db63aed00c2c17880bdf5566d588151e09c447503&amp;width=320&amp;height=554&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <%= form_for @contact do |f| %>
      <!--</div>-->
      <!--<form method="POST" id="contactForm" name="contactForm" class="contactForm">-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <!--<label class="label" for="name">Full Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">-->
            <%= f.label t('contact.name') %>
            <%= f.text_field :name, class:'form-control', placeholder: t('contact.name')%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <!--<label class="label" for="email">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">-->
            <%= f.label t('contact.mail') %>
            <%= f.text_field :email, class:'form-control', placeholder: t('contact.mail')%>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!--<label class="label" for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">-->
            <%= f.label t('contact.sales_phone') %>
            <%= f.text_field :phone, class:'form-control', placeholder: t('contact.sales_phone'), value:'+', style:"max-width: 250px;"%>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!--<label class="label" for="#">Message</label>
            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>-->
            <%= f.label t('contact.message') %>
            <%= f.text_area :message, class:'form-control', placeholder: t('contact.message'), rows:"6" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!--<label class="label" for="#">Message</label>
            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>-->
            <%= f.file_field :file, class:'form-control', type:'file', id:'formFileMultiple', multiple: true %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <%= f.submit 'Отправить', class:'btn btn-primary'%>
            <!--<input type="submit" value="Send Message" class="btn btn-primary">-->
            <div class="submitting"></div>
          </div>
        </div>
      </div>
      <!--</form>-->

      <% end %>

</div>
<hr>
<section id="contacts" class="section">
  <div class="container text-center">

    <h2 class="mb-4">Контакты</h2>

    <p>📞 <%= phone_to @organization.phones.last.phone, class:"btn btn-light" %></p>
    <p>📍 Ессентуки</p>
    <p>🕒 Ежедневно с 9:00 до 21:00</p>
  </div>
</section>


<!-- Bootstrap JS -->

</body>
</html>
