<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        padding-top: 80px;

      }

      .hero {
        background: linear-gradient(135deg, #2563eb, #1e40af);
        color: white;
        padding: 100px 20px;
        text-align: left;
      }

      .hero h1 {
        font-weight: 700;
      }

      .section {
        padding: 80px 0;
      }

      .card:hover {
        transform: translateY(-5px);
        transition: 0.3s;


      }
    </style>
  </head>
  <body>
    <%= render "include/navbar" %>
    <section class="hero">
      <center><h1 class="display-5 mb-3">Заявкa 000<%= @order.id %></h1></center>
      <hr>
      <div class="container">
        <%= @order.desc %>
        <hr>
        <%= @order.name %>
        <hr>
        Номер телефона: <%= phone_to @order.phone, class:"btn btn-success" do %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708"/>
                          </svg>
                          <%= @order.phone %>
                        <% end %>
        <hr>
        <% if @order.images.attached? %>
          <% @images.each do |image| %>
            <%= image_tag(image, style:"width: 15rem" ) %>
          <% end %>
        <% else %>
          <%= image_tag('/images/no_photo.png', style:"width: 15rem")%>
        <% end %>
        <hr>
        <%= button_to toggle_active_backoffice_path(@order),
              method: :patch,
              class: "btn btn-sm" do %>

          <% if @order.accepted == true %>
            ✅ Принят
          <% else %>
            ⛔ Не взята <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg> Принять
          <% end %>

        <% end %>
        <% if @order.accepted? %>
          <%= button_to toggle_completed_backoffice_path(@order),
                method: :patch,
                class: "btn btn-sm" do %>

            <% if @order.completed == true %>
              ✅ Выполнено
            <% elsif @order.accepted == true && @order.completed != true %>
              ⛔ В процессе(Заявка принята)
            <% end %>
          <% end %>
        <% end %>
        <hr>
        <%= form_for :order, url: backoffice_path(@order), method: :patch do |f| %>
          <%= f.text_area :answer, class:"form-control", rows:"6", placeholder:"Написать ответ" %>
          <br>
          <%= f.submit 'Отправить', class:"btn btn-success" %>
        <% end %>
      </div>
    </section>
  </body>
</html>
